/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright (c) 2022 QRTECH
 */

#include <zephyr/dt-bindings/adc/adc.h>
#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	zephyr,user {
		/* adjust channel number according to pinmux in board.dts */
		io-channels = <&adc1 3 &adc1 6 &adc1 7>;
		relay-set-gpios = <&gpiob 12 4 >;
		relay-reset-gpios = <&gpioa 6 4 >;
		led-gpios = <&gpioa 15 4 >;
		enable-measure-gpios = <&gpioa 0 4 >;
	};
};

/* 
&adc1 {
	status = "okay";
	pinctrl-0 = <&adc_in3_pb4>;  
	pinctrl-names = "default";
	#address-cells = <1>;
	#size-cells = <0>;

	channel@3 {
		reg = <3>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};

};
*/

&i2c1 {
    pinctrl-0 = <&i2c1_scl_pa9>; /* Remove &i2c1_sda_pa10 */
    status = "okay";
	// status = "disabled";
};

uext_spi: &spi1 {
	status = "disabled";
};

&adc1 {
    status = "okay";

    /* Existing channel configuration */
    pinctrl-0 = <&adc_in3_pb4 &adc_in6_pa10 &adc_in7_pa11>;
    pinctrl-names = "default";

	#address-cells = <1>;
	#size-cells = <0>;

    channel@3 {
        reg = <3>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		// zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 12)>;
        zephyr,resolution = <10>;
    };

    channel@6 {
        reg = <6>; /* Channel number */
        zephyr,gain = "ADC_GAIN_1"; /* Gain setting for the channel */
        zephyr,reference = "ADC_REF_INTERNAL"; /* Reference voltage */
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>; /* Acquisition time */
        zephyr,resolution = <12>; /* Resolution in bits */
    };

    channel@7 {
        reg = <7>; /* Channel number */
        zephyr,gain = "ADC_GAIN_1"; /* Gain setting for the channel */
        zephyr,reference = "ADC_REF_INTERNAL"; /* Reference voltage */
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>; /* Acquisition time */
        zephyr,resolution = <12>; /* Resolution in bits */
    };
};
